@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #1d1d1d;
  background: #fff;
  font-family: "Lato", sans-serif;
}

/* --------------- Navbar ---------------- */
.navbar {
  z-index: 3;
  position: -webkit-sticky;
  position: sticky;
  /*הבר נשאר גם לאורך הסקרולינג*/
  top: 0;
  /* הנקודה בה זה יתחיל להיות סטיקי*/
  height: 140px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f0f5f5;
}

.navbar-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1.5rem;
}

.nav-icon {
  font-size: 2.5rem;
  color: #1156a0;
}

.nav-icon .cart-items {
  font-size: 1.5rem;
}

.cart-btn {
  position: relative;
  cursor: pointer;
}

.cart-items {
  position: absolute;
  top: -8px;
  right: -8px;
  background: #519bf0;
  padding: 0 5px;
  border-radius: 30%;
  color: #fff;
}

/* --------------- סוף NAVBAR ---------------- */
/* --------------- Hero ---------------- */
.hero {
  min-height: calc(100vh - 140px);
  /* גובה מלא פחות גובה נאב בר*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("./images/hero-bcg.jpeg");
  background-size: cover;
  background-position: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.layer {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  opacity: 35%;
  background: -webkit-gradient(linear, right top, left top, from(#f3e3e8), color-stop(#ffffff), to(#92ccde));
  background: linear-gradient(270deg, #f3e3e8, #ffffff, #92ccde);
  background-size: 250% 100%;
  -webkit-animation: gymation 5s ease infinite;
  animation: gymation 15s ease infinite;
}

@-webkit-keyframes gymation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gymation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.banner {
  z-index: 1;
  text-align: center;
  background: rgba(255, 255, 255, 0.4);
  display: inline-block;
  padding: 2rem;
}

.banner-title {
  z-index: 0;
  font-size: 3.4rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-bottom: 3rem;
  color: #31313f;
}

.banner-btn {
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
  background: #519bf0;
  color: #1d1d1d;
  border: 1px solid #519bf0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  cursor: pointer;
}

.banner-btn:hover {
  background: transparent;
  color: #519bf0;
  font-size: 1.6rem;
}

/* --------------- סוף HERO ---------------- */
/* --------------- מוצרים ---------------- */
.products {
  z-index: 2;
  padding: 4rem 0;
}

.section-title h2 {
  color: #f0f0f0;
  text-align: center;
  font-size: 3.5rem;
  color: #f0f0f0;
  margin-top: 2rem;
  margin-bottom: 5rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  background: -webkit-gradient(linear, left top, right top, from(#b3dced), color-stop(23%, #23bae8), color-stop(53%, #e84b6a), color-stop(77%, #5de6f0), to(#bce0ee));
  background: linear-gradient(to right, #b3dced 0%, #23bae8 23%, #e84b6a 53%, #5de6f0 77%, #bce0ee 100%);
}

.section-title1 h2 {
  /*לדף קטגוריות*/
  text-align: center;
  font-size: 3.5rem;
  color: #f0f0f0;
  margin-top: 2rem;
  margin-bottom: 5rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  text-shadow: 0px 0px 8px #0941496b;
  background: -webkit-gradient(linear, left top, right top, from(#b3dced), color-stop(23%, #23bae8), color-stop(53%, #4b55e8), color-stop(77%, #5de6f0), to(#bce0ee));
  background: linear-gradient(to right, #b3dced 0%, #23bae8 23%, #4b55e8 53%, #5de6f0 77%, #bce0ee 100%);
}

.section-title2 h2 {
  /*לדף קטגוריות*/
  text-align: center;
  font-size: 3.5rem;
  color: #f0f0f0;
  margin-top: 2rem;
  margin-bottom: 5rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  text-shadow: 0px 0px 8px #2b707a6b;
  background: -webkit-gradient(linear, left top, right top, from(#f0f5d5), color-stop(23%, #f7df75), color-stop(53%, #e88a4b), color-stop(77%, #5df0b3), to(#eedabc));
  background: linear-gradient(to right, #f0f5d5 0%, #f7df75 23%, #e88a4b 53%, #5df0b3 77%, #eedabc 100%);
}

.section-title3 h2 {
  text-align: center;
  font-size: 3.5rem;
  color: #f0f0f0;
  margin-top: 2rem;
  margin-bottom: 5rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  text-shadow: 0px 0px 8px #2b707a6b;
  background: -webkit-gradient(linear, left top, right top, from(#f7cf8d), color-stop(23%, #943f3f), color-stop(53%, #ec410e), color-stop(77%, #ff9324), to(#fff4e2));
  background: linear-gradient(to right, #f7cf8d 0%, #943f3f 23%, #ec410e 53%, #ff9324 77%, #fff4e2 100%);
}

.products-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: -ms-grid;
  display: grid;
  /* minmax קובע טווח רצוי לטורים*/
  -ms-grid-columns: minmax(260px, 1fr) [auto-fill];
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  /* השימוש בפראקשן כדי ליצור טורים שווים*/
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}

.products-center1 {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: -ms-grid;
  display: grid;
  /* minmax קובע טווח רצוי לטורים*/
  -ms-grid-columns: minmax(260px, 1fr) [auto-fill];
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  /* השימוש בפראקשן כדי ליצור טורים שווים*/
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}

.products-center2 {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: -ms-grid;
  display: grid;
  /* minmax קובע טווח רצוי לטורים*/
  -ms-grid-columns: minmax(260px, 1fr) [auto-fill];
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  /* השימוש בפראקשן כדי ליצור טורים שווים*/
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}

.products-center3 {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: -ms-grid;
  display: grid;
  /* minmax קובע טווח רצוי לטורים*/
  -ms-grid-columns: minmax(260px, 1fr) [auto-fill];
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  /* השימוש בפראקשן כדי ליצור טורים שווים*/
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}

.img-container {
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 8px #3b4a80;
          box-shadow: 0px 0px 8px #3b4a80;
}

.bag-btn {
  position: absolute;
  top: 70%;
  right: 0;
  background: #519bf0;
  border: none;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-transform: translateX(101%);
          transform: translateX(101%);
  cursor: pointer;
}

.bag-btn:hover {
  color: #fff;
}

.fa-shopping-cart {
  margin-right: 0.5rem;
}

.img-container:hover .bag-btn {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.product-img {
  display: block;
  width: 100%;
  min-height: 12rem;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.img-container:hover .product-img {
  opacity: 0.5;
}

.product h3 {
  text-transform: capitalize;
  font-size: 1.1rem;
  margin-top: 1rem;
  letter-spacing: 0.1rem;
  text-align: center;
}

.product h4 {
  margin-top: 0.7rem;
  letter-spacing: 0.1rem;
  color: #519bf0;
  text-align: center;
}

/* ---------------סוף המוצרים ---------------- */
/* --------------- עגלה ---------------- */
.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  background: rgba(166, 187, 219, 0.5);
  z-index: 4;
  visibility: hidden;
}

.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 4;
  background: rgba(231, 226, 221, 0.74);
  padding: 1.5rem;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.showCart {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.transparentBcg {
  visibility: visible;
}

@media screen and (min-width: 768px) {
  .cart {
    width: 30vw;
    min-width: 450px;
  }
}

.close-cart {
  font-size: 1.7rem;
  cursor: pointer;
}

.cart h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0.1rem;
  margin-bottom: 2rem;
}

/*---------- מוצר בעגלה -------------------- */
.cart-item {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: auto 1fr auto;
      grid-template-columns: auto 1fr auto;
  /* גודל אוטומטי לתמונה והכפתורים של למעלה/למטה והטקסט תופס מה שביניהם*/
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}

.cart-item img {
  width: 75px;
  height: 75px;
}

.cart-item h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}

.cart-item h5 {
  margin: 0.5rem 0;
  letter-spacing: 0.1rem;
}

.item-amount {
  text-align: center;
}

.remove-item {
  color: grey;
  cursor: pointer;
}

.fa-chevron-up, .fa-chevron-down {
  color: #519bf0;
  cursor: pointer;
}

/*---------- סוף של מוצר בעגלה -------------------- */
.cart-footer {
  margin-top: 2rem;
  letter-spacing: 0.1rem;
  text-align: center;
}

.cart-footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}

/* ---------------סוף העגלה ---------------- */
/* footer */
.footer-classic a {
  color: #ffffff;
}

.footer-classic a:focus, .footer-classic a:active {
  color: #ffffff;
}

.nav-list li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav-list li a:hover:before {
  margin-left: 0;
  opacity: 1;
  visibility: visible;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 23px;
  font: 900 13px/1 "Lato", "Segoe UI", 'Roboto', "Helvetica Neue", Arial, sans-serif;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
}

.social-container .col {
  border: 1.5px solid rgba(255, 255, 255, 0.1);
  background: -webkit-gradient(linear, left bottom, left top, from(#dde1f7), to(#5397d6));
  background: linear-gradient(0deg, #dde1f7 0%, #5397d6 100%);
}

.nav-list li a:before {
  content: "\f14f";
  font: 400 21px/1 "Material Design Icons";
  color: #4d6de6;
  display: inline-block;
  vertical-align: baseline;
  margin-left: -28px;
  margin-right: 7px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .22s ease;
  transition: .22s ease;
}

.float {
  position: fixed;
  z-index: 3;
  bottom: 0;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  margin-left: 95%;
  color: rgba(83, 83, 221, 0.411);
}

.contact-list, .nav-list, .brand, .section {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */